{% extends "./layouts/layout_index.html" %}

{% block title %}
Login
{% endblock %}

{% block form %}
    <h2 class="blue text_center mb">Recuperar senha</h2>
    {% if recovery %}

    <form id="form_recovery" action="/recovery" method="POST">
            <input type="text" name="email" placeholder="Digite seu e-mail" autocomplete="off">
            <div class="actions">
                <button type="submit">Recuperar senha</button>
            </div>
    {% else %}
    <form id="form_recovery" action="/recovery/set" method="POST">
            <input type="password" name="password" placeholder="Digite sua nova senha" autocomplete="off">
            <input type="password" name="confirmation" placeholder="Confirme sua senha" autocomplete="off">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="actions">
                <button type="submit">Redefinir senha</button>
            </div>
    {% endif %}
    </form>

{% endblock %}
