<nav id="normal-nav" class="row">
    <div class="dropbox">
        <a class="header drop-element" href="{{ url_for('index') }}"><i class="fa-solid fa-house"></i>&nbsp Início</a>
        <a class="drop-element" href="{{ url_for('logout') }}" style="display:none;">Sair da conta</a>
    </div>
    <div class="dropbox">
        <a class="header drop-element"><i class="fa-solid fa-right-left"></i>&nbsp Transações</a>
        <a class="drop-element" style="display:none;" data-popup-input="trans" onclick="show_popup({element:this})">Adicionar transação</a>
        <a class="drop-element" style="display:none;" href="{{ url_for('transactions') }}">Ver transações</a>
    </div>
    
    <a class="nav-element" href="{{ url_for('credit_page.creditcard') }}"><i class="fa-regular fa-credit-card"></i>&nbsp Cartões</a>
    <a class="nav-element red" href="{{ url_for('debt_page.debts') }}"><i class="fa-solid fa-building-columns"></i>&nbsp Dívidas</a>
    <a class="nav-element green" href="{{ url_for('invest_page.investiments') }}"><i class="fa-solid fa-chart-column"></i>&nbsp Investimentos</a>
</nav>