<div class="pop-up" id="trans-pop-up">
    <div id="form-content">
        <i id="close-button" class="fa-solid fa-xmark" onclick="close_popup(this);"></i>
        <h2>Dados da Transação</h2>
        <form autocomplete="off" id="add-transaction-form" class="form-transaction" method="POST" action="{{ url_for('add_transaction') }}">
            <label for="name">Nome da transação:</label>
            <input type="text" name="name" placeholder="Ex.: Presente de Natal">
            
            <label for="value">Valor da transação:</label>
            <input type="text" name="value" placeholder="Ex.: 100, -100, ...">
            
            <label for="datetime">Data:</label>
            <input type="date" name="datetime" placeholder="19/8/2022">
            
            <div class="col w-100 my">
                <label for="from">Origem da grana:</label>
                <div class="w-100 row align-center">
                    <select id="from_select" class="btn-pure" name="from">
                        <option selected value="">Ex.: Carteira, Investimento, ...</option>
                        {% for option in from_options  %}
                            <option value="{{ option }}">{{ option.capitalize() }}</option>
                        {% endfor %}
                    </select>
                    <button class="add" type="button" onclick="change_popup('from-pop-up')"><i class="fa-solid fa-plus"></i></button>
                </div>
                <label class="muted">Obs.: Crie uma no botão ao lado</label>
            </div>

            <div class="col w-100 my">
                <label for="to">Destino da grana:</label>
                <div class="w-100 row align-center">
                    <select id="to_select" class="btn-pure" name="to">
                        <option selected value="">Ex.: Amazon, Americanas, ...</option>
                        {% for option in to_options %}
                            <option value="{{ option }}">{{ option.capitalize() }}</option>
                        {% endfor %}
                    </select>
                    <button class="add" type="button" onclick="change_popup('to-pop-up')"><i class="fa-solid fa-plus"></i></button>
                </div>
                <label class="muted">Obs.: Crie uma no botão ao lado</label>
            </div>

            <label for="description">Descrição da transação:</label>
            <textarea name="description" rows="5" cols="20" placeholder="Ex.: Presentes para netos pago no cartão"></textarea>
            <button type="submit">Adicionar transação</button>
        </form>
    </div>
</div>