<div class="pop-up" id="set-credit-pop-up">
    <div id="form-content">
        <i id="close-button" class="fa-solid fa-xmark" onclick="close_popup(this);"></i>
        <h2 class="text-center">Insira os novos dados<wbr> do cartão de crédito</h2>
        <form autocomplete="off" id="set-credit-form" class="form-transaction onformsubmit" method="POST" action="{{ url_for('operator_credit_card', operation='set') }}">
            <label for="name">Nome do cartão:</label>
            <input type="text" name="name" placeholder="Ex.: Picpay">
            <label for="due_date">Dia do vencimento:</label>
            <input type="number" min="1" max="31" name="due_date" placeholder="Dia 17, 03 ...">
            <label for="initial_bill">Fatura atual:</label> 
            <input class="color_money_listener" type="number" step="0.01" name="initial_bill" placeholder="200,00">
            <label class="muted my-0 t-red" hidden>Valor inválido!</label>
            <input type="hidden" name="id_credit_card" id="set_credit" value="">
            <button type="submit">Adicionar cartão</button>
        </form>
    </div>
</div>