{% extends "layout_base.html" %}

{% block title %}
Cartões de Crédito
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/base_blocks.css">
{% endblock %}

{% block main %}
<div class="col align-center">
    <h1 class="mt">Seus cartões de crédito</h1>
    <section class="row wrap justify-center align-center w-100">
        {% for card in cards %}
            <div class="box text-center">
                <p class="box-title">{{ card['title'] }}</p>
            {% if card['balance'] >= 0 %}
                <p class="box-balance">Fatura Atual:<br><span class="t-green">{{ card['balance'] | brl}}</span></p>
            {% else %}
                <p class="box-balance">Fatura Atual:<br><span class="t-red">{{ card['balance'] | brl}}</span></p>
            {% endif %}
                <div class="row justify-center options">
                    <button class="btn btn-primary">Ver fatura</button>
                    <button class="btn">Editar cartão</button>
                </div>
                <p class="muted">Última movimentação: {{ card['lastest_move'] | date_stamp }}</p>
            </div>
        {% endfor %}
    </section>
</div>


{% endblock %}