{% extends "layout_base.html" %}

{% block title %}
Cartões de Crédito
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/base_blocks.css">
{% endblock %}

{% block main %}
<div class="col align-center">
    <h1 class="mt">Seus cartões de crédito</h1>
    <section class="row wrap justify-center align-center w-100">
        <div class="box text-center">
            <p class="box-title">Nubank</p>
            <p class="box-balance">Fatura Atual:<wbr><span class="t-red">R$ -200,00</span></p>
            <div class="row justify-center options">
                <button class="btn btn-primary">Ver fatura</button>
                <button class="btn">Editar cartão</button>
            </div>
            <p class="muted">Última movimentação: Data aqui!</p>
        </div>

        
    </section>
</div>


{% endblock %}