<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            * {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            .container {
                margin: 0 auto;
            }

            h2 {
                color:#2e86de;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {% block message %}
            {% endblock %}
        </div>
    </body>
</html>