{% extends "layout_index.html" %}

{% block title %}
Registro
{% endblock %}

{% block form %}
    <h2 class="blue text_center mb">Preencha para registrar</h2>
    <form id="form_login"action="/login" method="POST">
        <input type="text" name="email" placeholder="Digite seu e-mail" autocomplete="off">
        <input type="password" name="password" placeholder="Digite sua senha">
        <input type="password" name="confirmation" placeholder="Confirme sua senha">
        <button type="submit">Criar conta</button>
    </form>
{% endblock %}